<mat-toolbar
  style="
    background-color: #229710;
    display: flex;
    align-items: center;
    justify-content: space-between;
  "
>
  <div style="display: flex; align-items: center">
    <button mat-icon-button routerLink="/">
      <mat-icon>home</mat-icon> QALIKAY
    </button>
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menuproduct">
      <mat-icon>storefront</mat-icon> Productos
    </button>
    <button mat-button [matMenuTriggerFor]="menuoptionpay">
      <mat-icon>credit_card</mat-icon> Opciones de Pago
    </button>
    <button mat-button [matMenuTriggerFor]="menuuser">
      <mat-icon>group</mat-icon> Usuarios
    </button>
    <button mat-button [matMenuTriggerFor]="menurole">
      <mat-icon>badge</mat-icon> Roles
    </button>
    <button mat-button [matMenuTriggerFor]="menuexpcertificate">
      <mat-icon>history_edu</mat-icon> Certificados
    </button>
    <button mat-button [matMenuTriggerFor]="menusale">
      <mat-icon>shopping_cart</mat-icon> Ventas
    </button>
    <button mat-button [matMenuTriggerFor]="menusprecipe">
      <mat-icon>restaurant_menu</mat-icon> Receta Especial
    </button>
    <button mat-button [matMenuTriggerFor]="menucomment">
      <mat-icon>comment</mat-icon> Comentarios
    </button>
  </div>
</mat-toolbar>

<ng-container *ngIf="isHomePage">
  <div style="padding: 20px; background-color: #f4f4f4">
    <h1 style="color: #333; font-size: 24px; margin-bottom: 10px">QALIKAY</h1>
    <p style="color: #666; font-size: 16px">
      Nuestra misión es convertirnos en la principal plataforma de referencia en
      medicina tradicional, reconocida por proporcionar información confiable y
      soluciones prácticas basadas en la sabiduría ancestral. Aspiramos a ser la
      primera opción para aquellos que buscan tratamientos naturales y efectivos
      para su bienestar, impulsados por el compromiso de ofrecer las mejores
      recomendaciones y conocimientos en el menor tiempo posible
    </p>
  </div>
</ng-container>

<mat-menu #menuproduct="matMenu">
  <button mat-menu-item routerLink="/product">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/product/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>

<mat-menu #menuoptionpay="matMenu">
  <button mat-menu-item routerLink="/optionpay">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/optionpay/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>

<mat-menu #menuuser="matMenu">
  <button mat-menu-item routerLink="/user">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/user/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>

<mat-menu #menurole="matMenu">
  <button mat-menu-item routerLink="/role">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/role/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>
<mat-menu #menuexpcertificate="matMenu">
  <button mat-menu-item routerLink="/expcertificate">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/expcertificate/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>
<mat-menu #menusale="matMenu">
  <button mat-menu-item routerLink="/sale">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/sale/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>
<mat-menu #menusprecipe="matMenu">
  <button mat-menu-item routerLink="/sp-recipe">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/sp-recipe/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>
<mat-menu #menucomment="matMenu">
  <button mat-menu-item routerLink="/comment">
    <mat-icon>view_list</mat-icon> Listar
  </button>
  <button mat-menu-item routerLink="/comment/registrar">
    <mat-icon>add_box</mat-icon> Registrar
  </button>
</mat-menu>

<router-outlet></router-outlet>