<mat-toolbar class="responsive-toolbar" *ngIf="showToolbar && !isDashboard()">
  <div class="toolbar-logo">
    <a routerLink="/home">
      <img src="https://i.ibb.co/5LrbNSg/logo.png" alt="QALIKAY" class="logo-img"/>
    </a>
  </div>
  <div class="toolbar-buttons" fxHide fxShow.gt-sm>
    <button mat-button routerLink="/contact">
      <mat-icon>contact_mail</mat-icon> Contáctanos
    </button>
    <button mat-button routerLink="/aboutus">
      <mat-icon>info</mat-icon> Nosotros
    </button>
    <button mat-button routerLink="/login" (click)="cerrar()">
      <mat-icon>login</mat-icon> Login
    </button>
  </div>
  <div class="toolbar-menu" fxHide fxShow.lt-md>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-toolbar class="responsive-toolbar" *ngIf="showSecondToolbar">
  <div class="toolbar-logo">
    <span>Dashboard</span>
  </div>
  <div class="toolbar-buttons" fxHide fxShow.gt-sm>
    <ng-container *ngIf="isAdmin()">
      <button mat-button [matMenuTriggerFor]="adminMenu">
        <mat-icon>admin_panel_settings</mat-icon> Admin
      </button>
    </ng-container>
    <ng-container *ngIf="isExperto()">
      <button mat-button [matMenuTriggerFor]="expertoMenu">
        <mat-icon>engineering</mat-icon> Experto
      </button>
    </ng-container>
    <ng-container *ngIf="isCliente()">
      <button mat-button [matMenuTriggerFor]="clienteMenu">
        <mat-icon>person</mat-icon> Cliente
      </button>
    </ng-container>
    <button mat-button routerLink="/login" (click)="cerrar()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
  <div class="toolbar-menu" fxHide fxShow.lt-md>
    <button mat-icon-button [matMenuTriggerFor]="menuDashboard">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/contact">
    <mat-icon>contact_mail</mat-icon> Contáctanos
  </button>
  <button mat-menu-item routerLink="/aboutus">
    <mat-icon>info</mat-icon> Nosotros
  </button>
</mat-menu>

<mat-menu #menuDashboard="matMenu">
  <ng-container *ngIf="isAdmin()">
    <button mat-menu-item [matMenuTriggerFor]="adminMenu">
      <mat-icon>admin_panel_settings</mat-icon> Admin
    </button>
  </ng-container>
  <ng-container *ngIf="isExperto()">
    <button mat-menu-item [matMenuTriggerFor]="expertoMenu">
      <mat-icon>engineering</mat-icon> Experto
    </button>
  </ng-container>
  <ng-container *ngIf="isCliente()">
    <button mat-menu-item [matMenuTriggerFor]="clienteMenu">
      <mat-icon>person</mat-icon> Cliente
    </button>
  </ng-container>
</mat-menu>

<mat-menu #adminMenu="matMenu">
  <button mat-menu-item routerLink="/product">
    <mat-icon>view_list</mat-icon> Productos
  </button>
  <button mat-menu-item routerLink="/product/registrar">
    <mat-icon>add_box</mat-icon> Registrar Producto
  </button>
  <button mat-menu-item routerLink="/optionpay">
    <mat-icon>view_list</mat-icon> Opciones de Pago
  </button>
  <button mat-menu-item routerLink="/optionpay/registrar">
    <mat-icon>add_box</mat-icon> Registrar Opción de Pago
  </button>
  <button mat-menu-item routerLink="/user">
    <mat-icon>view_list</mat-icon> Usuarios
  </button>
  <button mat-menu-item routerLink="/user/registrar">
    <mat-icon>add_box</mat-icon> Registrar Usuario
  </button>
  <button mat-menu-item routerLink="/role">
    <mat-icon>view_list</mat-icon> Roles
  </button>
  <button mat-menu-item routerLink="/role/registrar">
    <mat-icon>add_box</mat-icon> Registrar Rol
  </button>
  <button mat-menu-item routerLink="/expcertificate">
    <mat-icon>view_list</mat-icon> Certificados
  </button>
  <button mat-menu-item routerLink="/expcertificate/registrar">
    <mat-icon>add_box</mat-icon> Registrar Certificado
  </button>
  <button mat-menu-item routerLink="/sale">
    <mat-icon>view_list</mat-icon> Ventas
  </button>
  <button mat-menu-item routerLink="/sale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Venta
  </button>
  <button mat-menu-item routerLink="/detailsale">
    <mat-icon>view_list</mat-icon> Detalles de Ventas
  </button>
  <button mat-menu-item routerLink="/detailsale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Detalle de Venta
  </button>
  <button mat-menu-item routerLink="/sp-recipe">
    <mat-icon>view_list</mat-icon> Recetas
  </button>
  <button mat-menu-item routerLink="/sp-recipe/registrar">
    <mat-icon>add_box</mat-icon> Registrar Receta
  </button>
  <button mat-menu-item routerLink="/comment">
    <mat-icon>view_list</mat-icon> Comentarios
  </button>
  <button mat-menu-item routerLink="/comment/registrar">
    <mat-icon>add_box</mat-icon> Registrar Comentario
  </button>
</mat-menu>

<mat-menu #expertoMenu="matMenu">
  <button mat-menu-item routerLink="/product">
    <mat-icon>view_list</mat-icon> Productos
  </button>
  <button mat-menu-item routerLink="/product/registrar">
    <mat-icon>add_box</mat-icon> Registrar Producto
  </button>
  <button mat-menu-item routerLink="/optionpay">
    <mat-icon>view_list</mat-icon> Opciones de Pago
  </button>
  <button mat-menu-item routerLink="/optionpay/registrar">
    <mat-icon>add_box</mat-icon> Registrar Opción de Pago
  </button>
  <button mat-menu-item routerLink="/user">
    <mat-icon>view_list</mat-icon> Usuarios
  </button>
  <button mat-menu-item routerLink="/user/registrar">
    <mat-icon>add_box</mat-icon> Registrar Usuario
  </button>
  <button mat-menu-item routerLink="/expcertificate">
    <mat-icon>view_list</mat-icon> Certificados
  </button>
  <button mat-menu-item routerLink="/expcertificate/registrar">
    <mat-icon>add_box</mat-icon> Registrar Certificado
  </button>
  <button mat-menu-item routerLink="/sale">
    <mat-icon>view_list</mat-icon> Ventas
  </button>
  <button mat-menu-item routerLink="/sale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Venta
  </button>
  <button mat-menu-item routerLink="/detailsale">
    <mat-icon>view_list</mat-icon> Detalles de Ventas
  </button>
  <button mat-menu-item routerLink="/detailsale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Detalle de Venta
  </button>
  <button mat-menu-item routerLink="/sp-recipe">
    <mat-icon>view_list</mat-icon> Recetas
  </button>
  <button mat-menu-item routerLink="/sp-recipe/registrar">
    <mat-icon>add_box</mat-icon> Registrar Receta
  </button>
  <button mat-menu-item routerLink="/comment">
    <mat-icon>view_list</mat-icon> Comentarios
  </button>
  <button mat-menu-item routerLink="/comment/registrar">
    <mat-icon>add_box</mat-icon> Registrar Comentario
  </button>
</mat-menu>

<mat-menu #clienteMenu="matMenu">
  <button mat-menu-item routerLink="/product">
    <mat-icon>view_list</mat-icon> Productos
  </button>
  <button mat-menu-item routerLink="/optionpay">
    <mat-icon>view_list</mat-icon> Opciones de Pago
  </button>
  <button mat-menu-item routerLink="/user">
    <mat-icon>view_list</mat-icon> Usuarios
  </button>
  <button mat-menu-item routerLink="/sale">
    <mat-icon>view_list</mat-icon> Ventas
  </button>
  <button mat-menu-item routerLink="/sale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Venta
  </button>
  <button mat-menu-item routerLink="/detailsale">
    <mat-icon>view_list</mat-icon> Detalles de Ventas
  </button>
  <button mat-menu-item routerLink="/detailsale/registrar">
    <mat-icon>add_box</mat-icon> Registrar Detalle de Venta
  </button>
  <button mat-menu-item routerLink="/sp-recipe">
    <mat-icon>view_list</mat-icon> Recetas
  </button>
  <button mat-menu-item routerLink="/comment">
    <mat-icon>view_list</mat-icon> Comentarios
  </button>
  <button mat-menu-item routerLink="/comment/registrar">
    <mat-icon>add_box</mat-icon> Registrar Comentario
  </button>
</mat-menu>

<router-outlet></router-outlet>
