<div class="container">
  <div class="title-container"><h1>Lista de Ventas</h1></div>
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="c1">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{ element.idSale }}</td>
    </ng-container>

    <ng-container matColumnDef="c2">
      <th mat-header-cell *matHeaderCellDef>Fecha de Venta</th>
      <td mat-cell *matCellDef="let element">{{ element.saleDate }}</td>
    </ng-container>
    <ng-container matColumnDef="c3">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <ng-container matColumnDef="c4">
      <th mat-header-cell *matHeaderCellDef>Usuario</th>
      <td mat-cell *matCellDef="let element">{{ element.user.userName }}</td>
    </ng-container>
    <ng-container matColumnDef="c5">
        <th mat-header-cell *matHeaderCellDef>Tipo de Pago</th>
        <td mat-cell *matCellDef="let element">{{ element.optionPay.typeOptionPay }}</td>
      </ng-container>
      <ng-container matColumnDef="c6" *ngIf="isAdmin() || isExperto()"
      >
        <th mat-header-cell *matHeaderCellDef>Editar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            [routerLink]="['ediciones', element.idSale]"
          >
          <mat-icon>edit</mat-icon>
        </button>
        </td></ng-container
      >
      <ng-container matColumnDef="c7" *ngIf="isAdmin() || isExperto()"
      >
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
          <button
            mat-raised-button
            color="warn"
            (click)="eliminar(element.idSale)"
          >
          <mat-icon>delete_sweep</mat-icon>
        </button>
        </td></ng-container
      >

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 15]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
