<div class="title-container">
    <div class="title-container"><h1>Registrar</h1></div>
    <form [formGroup]="form" (submit)="registrar()">
      <mat-form-field class="example-full-width"  *ngIf="edicion" >
        <mat-label>Codigo</mat-label>
        <input matInput placeholder="Codigo" formControlName="c1" />      
      </mat-form-field>
      <br/>
      <mat-form-field>
        <input matInput placeholder="Tipo" formControlName="c2" />
        <mat-error *ngIf="form.get('c2')?.hasError('required')">
          El tipo de pago es obligatorio.</mat-error
        >
      </mat-form-field>
      <br />
      <mat-form-field>
        <input matInput placeholder="Descripcion" formControlName="c3" />
        <mat-error *ngIf="form.get('c3')?.hasError('required')">
          La descripción es obligatoria.</mat-error
        >
      </mat-form-field>
      <br />
      <button>Aceptar</button>
    </form>
  </div>